<h2>Powered by ChatGPT 3.5</h2>
<p>Resume Details/Editor</p>

<!-- Display the details of the existing resume -->
<!-- Display the title or other attributes here -->

<%= link_to 'Back to Job Description', uploaded_path, class: 'btn btn-success' %>
<%= link_to 'Upload a New Resume', root_path, class: 'btn btn-danger' %>


