<h2>Powered by ChatGPT 3.5</h2>
<p>Upload your Resume</p>

<%= form_for @resume, url: resume_index_path, html: { multipart: true } do |f| %>
    
  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <label for="resume_file">File</label>
        <input type="file" name="resume[file]" id="resume_file">
      </div>
    </div>
  </div>

	
  <div class="col-md-6">
      <div class="field">
        <%= f.label :resume_text, 'Resume Text' %>
        <%= f.text_area :resume_text %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="field">
        <%= submit_tag "Upload Resume" %>
      </div>
    </div>
  </div>
<% end %>