<p> Hi </p>

<div class="row">
  <div class="col-md-6">
    <%= text_field :description, nil, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <%= link_to 'Back to Upload', resume_path, :class => 'btn btn-danger col-2' %>
</div>